# .env fayli — bu faylni hech kimga ko'rsatmang!

# @BotFather dan olingan token
BOT_TOKEN=8615206121:AAF_YysY5PiPfhKTtX5F9AnIr11kNbhIhCU

# Sizning Telegram ID ingiz (https://t.me/userinfobot dan oling)
ADMIN_IDS=5103980244

# Kanal username yoki ID
CHANNEL_ID=@Jolawshi_bot_buyirtpa

# Ma'lumotlar bazasi fayli
DB_PATH=jolawshi.db
